<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @post, html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_field :body, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary", data: {disable_with: "Saving.."} %>
    <%= link_to fa_icon("reply"), request.referer, class: "btn btn-primary" %>
  </div>
<% end %>
