<h1>All Posts</h1>

<%= form_for posts_path, method: :get do %>
  <%= link_to fa_icon("plus"), new_post_path, class: "btn btn-primary" %>
  <%= search_field_tag :search, params[:search] %>
  <button type="submit" class="btn btn-primary btn-xs">
    <%= fa_icon("search") %>
  </button>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Last Update</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |p| %>
      <tr>
        <td>
          <% text = "#{p.title}" %>
          <%= link_to(text, post_path(p)) %>
        </td>
        <td>
          <% text = "#{p.body}" %>
          <%= link_to(text, post_path(p)) %>
        </td>
        <td>
          <% text = "#{p.updated_at}" %><%= text %>
        </td>
        <td>
          <%= link_to fa_icon("edit"), edit_post_path(id: p.id), class: "btn btn-primary" %>
          <%= link_to fa_icon("trash"), post_path(id: p.id), method: :delete,
          data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
